:root {
    scroll-behavior: smooth;
}
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    background-color: #1e5eff;
    cursor: pointer;
    transition: all;
    transition-duration: 300ms;
}

button :hover {
    background-color: #071f54;
    color: #1e5eff;
}

body {
    background: #f5f2ef;
}

nav {
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;

}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    color: #191919;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid black;
}

nav ul li a:hover {
    color: orange;
    border-bottom: 1px solid orange;
}

.Logo {
    width: 75px;
    height: 75px;
    background-color: grey;
    border-radius: 50%;
    background-image: url(images/LogoRevoU.jpg);
    background-size: cover;
    background-position: center;

}


.main-header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HERO */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 1100px;
    display: flex;
    gap: 80px;
}

/* LEFT CARD */
.profile-card {
    background: #f3e9e2;
    border-radius: 10PX;
    padding: 40px 30px;
    width: 280px;
    text-align: center;
}

.profile-card img {
    margin-left: 40px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-card h2 {
    margin-top: 20px;
    font-size: 22px;
}

.line {
    display: block;
    width: 40px;
    height: 3px;
    background: #2b5cff;
    margin: 12px auto;
}

.role {
    font-size: 12px;
    letter-spacing: 2px;
    color: #555;
}

.social {
    margin-top: 25px;
}

.social a {
    margin: 0 6px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

/* RIGHT CONTENT */
.content h1 {
    font-size: 64px;
    margin-bottom: 10px;
}

.content h4 {
    font-size: 16px;
    margin-bottom: 25px;
    color: #444;
}

.buttons {
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 18px;
}

.primary {
    color: #fff;
}

.outline {
    border: 1px solid #000;
    color: #000;
}

.content p {
    max-width: 420px;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 15px;
    color: #333;
}


.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
}


/* FOOTER */

footer {
    text-align: right;
    padding: 10px;
    border-top: 1px solid black;
    font-size: 12px;
    color: #555;
    padding: 20px 20px;
}