.Logo {
    width: 75px;
    height: 75px;
    background-color: grey;
    border-radius: 50%;
    background-image: url(images/LogoRevoU.jpg);
    background-size: cover;
    background-position: center;

}

.main-header{
        display:flex;
        justify-content:space-between;
        align-items:center;
}

footer {
    text-align: right;
    padding: 10px;
    border-top: 1px solid black;
}